body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#display {
    width: 400px;
    height: 100px;
    text-align: end;
    background-color: #242424;
    color: aliceblue;
    font-size: 70px;
}

#buttons {
    display: grid;
    width: 400px;
    height: 500px;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(5,20%);
    grid-column-gap: 0px;
}

#zero {
    grid-column: 1/3;
    grid-row: 5;
}

#equal {
    grid-column: 4;
    grid-row: 4/6;
}